{% extends 'base.html.twig' %}

{% block title %}Occupancy index{% endblock %}

{% block body %}
    <h1>Occupancy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LicensePlate</th>
                <th>EntryDate</th>
                <th>ExitDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for occupancy in occupancies %}
            <tr>
                <td>{{ occupancy.id }}</td>
                <td>{{ occupancy.licensePlate }}</td>
                <td>{{ occupancy.entryDate ? occupancy.entryDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ occupancy.exitDate ? occupancy.exitDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('occupancy_show', {'id': occupancy.id}) }}">show</a>
                    <a href="{{ path('occupancy_edit', {'id': occupancy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('occupancy_new') }}">Create new</a>
{% endblock %}
